.buy-sell {
  display: flex;
  flex-direction: column;
  margin: 100px 45px 5px 100px;
  width: 200px;
}
.buy-sell > div {
  margin: 50px 25px;
}

.buy-sell-button {
  width: 200px;
}

.buy-sell .ant-btn-primary {
  height: 75px;
}

.buy-sell .ant-btn-secondary {
  height: 100px;
}

.carousel-quote {
    text-align: "center"
}
